.product {
  max-width: 20em;
  border: 2px solid gray;
  max-height: 20em;
  margin: 1em;
  height: 20em;
}
.top-part {
  height: 80%;
}
.product-title {
  text-align: center;
}
.product-image {
  text-align: center;
}
.product-image img {
  max-width: 70%;
}
.bottom-part {
  height: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bottom-part div {
  text-align: center;
}
.titulo {
  top: 0;
  text-transform: uppercase;
  margin: 0.1em;
  height: 20%;
  color: white;
}
.old-price {
  top: 0;
  flex: none;
  height: 50%;
  width: 35%;
}
.price {
  height: 100%;
  width: 35%;
  flex: none;
  background-color: rgba(255, 148, 77, 0.5);
}
.percentage {
  display: inline-block;
  height: 100%;
  flex: none;
  width: 25%;
  background-color: rgba(255, 51, 51, 0.5);
}
.link {
  display: inline-block;
  height: 100%;
  flex: none;
  width: 40%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  text-decoration: none;
}